                          /* mobile device responsive start  */
@media screen and (max-width:576px) {
    /* nav part responsive start  */
    .nav_container{
        flex-direction: column;
    }
    .nav_items ul{
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
    }
    /* nav part responsive end  */

    /* banner part responsive start  */
    .main_banner_part{
        background-size: 450px;
        background-position-y: bottom;
    }
    .banner_container{
        flex-direction: column-reverse;
    }
    .banner_content{
        width: 100%;
        margin: 50px 0;
        padding-left: 70px;
    }
    .banner_content h2 {
        font-size: 1.5rem;
    }
    .banner_content h1 {
        font-size: 3.2rem;
    }
    .banner_image{
       display: flex;
       justify-content: center;
    }
    .banner_image img{
        height: 300px;
        width: 350px;
        margin-left: 15px;
    }
    .banner_content p {
        font-size: 1rem;
    }
    .banner_btn button {
        height: 40px;
        width: 100px;
        font-size: 0.8rem;
    }
    /* banner part responsive end  */
    /* about gamer part responsive start  */
    .about_gamer_container{
        flex-direction: column;
    }
    .about_gamer_image{
        display: flex;
        justify-content: center;
    }
    .about_gamer_image img{
        height: 400px;
        width: 350px;
    }
    .about_gamer_content{
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    .about_gamer_content h1{
        font-size: 2rem;
        font-weight: 700;
    }
    .about_gamer_content p{
        font-size: 1rem;
    }
    .gamer_btn{
        height: 50px;
        width: 150px;
    }
    .about_gamer_content h4{
        font-size: 1.2rem;
    }
    .about_gamer_content .unleash{
        font-size: 1.5rem;
    }

    /* about gamer part responsive end  */
    /* online game part responsive start  */
    .online_game_content h1{
        font-size: 1.5rem;
    }
    .online_game_content p{
        font-size: 0.7rem;
    }
    .online_game_boxs{
        flex-direction: column;
    }
    .game_box{
        padding: 15px;
        margin-left: 10px;
    }
    /* online game part responsive end  */
    /* play instant part responsive start  */
    .play_instant{
        flex-direction: column;
    }
    .play_instant_content{
        width: 100%;
    }
    .play_instant_content h1 {
        font-size: 2rem;
    }
    .play_instant_content p {
        font-size: 1rem;
        padding: 0 25px;
    }
    .play_instant_image{
        width: 100%;

    }
    .play_instant_image img {
        height: 400px;
        width: 300px;
        margin-left: 50px;
    }
    .play_small_img img{
        height: 150px;
        width: 100px;
        margin-left: 130px;
        margin-top: 50px;
    }
    /* play instant part responsive end  */
}
                                /* mobile device responsive end  */


                               /* tablet device responsive start  */
@media screen and (min-width:576px) and (max-width:960px) {
    .nav_container{
        flex-direction: column;
        gap: 30px;
    }
    /* banner part responsive start  */
    .main_banner_part{
        background-size:600px;
        background-position-y: top;
        background-position-x: center;
    }
    .banner_container{
        flex-direction: column;
    }
    .banner_content{
        width: 100%;
        margin: 40px 0;
        text-align: center;
    }
    .banner_image{
        display: flex;
        justify-content: center;
     }
     .banner_image img{
         height: 400px;
         width: 350px;
         margin-left: 15px;
     }
    /* banner part responsive end  */
    /* about gamer part responsive start  */
    .about_gamer_container{
        flex-direction: column-reverse;
    }
    .about_gamer_image{
        display: flex;
        justify-content: center;
    }
    .about_gamer_image img{
        height: 400px;
        width: 350px;
    }
    .about_gamer_content{
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    .about_gamer_content h1{
        font-size: 2rem;
        font-weight: 700;
    }
    .about_gamer_content p{
        font-size: 1rem;
    }
    /* about gamer part responsive end  */
    /* online game part responsive start  */
    .online_game_content h1{
        font-size: 3rem;
    }
    .online_game_content p{
        font-size: 1.5rem;
    }
    .online_game_boxs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .game_box{
        height: 800px;
        width: 600px;
    }
    .game_box h3{
        font-size: 1.5rem;
    }
    /* online game part responsive end  */
    /* play instant part responsive start  */
    .play_instant{
        flex-direction: column;
    }
    .play_instant_content{
        width: 100%;
    }
    .play_instant_image{
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }
    .play_small_img img{
        margin-left: 130px;
        margin-top: 20px;
    }
    /* play instant part responsive end  */
}
                              /* tablet device responsive end  */