/* google font link start   */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* google font link end   */
* {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* navigation part css start  */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav_container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    padding: 50px 0;
}

.logos {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logos h1 {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.logo_G {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav_items ul {
    display: flex;
    align-items: center;
}

.nav_items ul>li {
    padding: 0 30px;
    color: #3C354F;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav_btn {
    display: flex;
    padding: 15px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
}

.nav_btn li {
    padding: 0 10px;
    color: #3C354F;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav_btn .fa-youtube {
    color: red;
}

/* navigation part css end  */
/* banner part css start  */
.main_banner_part {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left;
}

.banner_container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

.banner_content {
    width: 50%;
}

.banner_content h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner_content h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.2rem;
    font-weight: 800;
}

.banner_content p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 10px 0;
}

.banner_btn button {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    height: 60px;
    width: 170px;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-top: 30px;
    margin-right: 15px;
}

.banner_btn .banner_btn_right {
    border-radius: 48px;
    background: #4EC5F7;
}

.banner_image {
    width: 50%;
}

/* banner part css end  */

/* about gamer part css start  */
.about_gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.about_gamer_container {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.about_gamer_image {
    width: 60%;
}

.about_gamer_content {
    text-align: right;
    width: 40%;
}

.about_gamer_content h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.about_gamer_content p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 15px 0;
}

.about_gamer_content h4 {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}

.gamer_btn {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    height: 60px;
    width: 170px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin: 15px 0;
}

.about_gamer_content .unleash {
    font-size: 2rem;
    font-weight: 700;
}

/* about gamer part css end  */
/* online game part css start  */
.online_game {
    max-width: 1440px;
    margin: 100px auto;
}

.online_game_content {
    text-align: center;
    margin-bottom: 50px;
}

.online_game_content h1 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.online_game_content .funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online_game_content p {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 15px 0;
}

.online_game_boxs {
    display: flex;
    gap: 20px;
}

.game_box {
    height: 510px;
    width: 380px;
    border-radius: 10px;
}

.game_box img {
    width: 100%;
}

.game_box h3 {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 10px 0;
}

/* online game part css end  */
/* play instant part css start  */
.play_instant {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.play_instant_content {
    width: 50%;
    text-align: center;
}

.play_instant_content h1 {
    font-size: 3rem;
    font-weight: 700;
}

.play_instant_content .play {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play_instant_content p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 15px 0;
}

.play_instant_image {
    width: 50%;
}
.play_small_img{
    height: 100px;
    width: 200px;
    position: relative;
    top: -160px;
    left: -90px;
}
.play_small_img img{
    width: 100%;
}

/* play instant part css end  */

/* our game part css start  */
.our_game_container{
    max-width: 1440px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.our_game_box{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100px;
    width: 250px;
}
.our_game_box h1{
    font-size: 1.2rem;
    font-weight: 600;
}
/* our game part css end  */
/* footer  part css start  */

.footer{
    background: #0B0223;
    padding: 100px 0;
}
.footer_container{
    max-width: 1440px;
    margin: 0 auto;
}
.footer_logo{
    justify-content: center;
}
.footer_logo h1{
    color: #FFF;
}
.footer_items ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
}
.footer_items ul li{
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFF;
}
.footer_icon ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px 0;
}
.footer_icon ul li{
    color: #FFF;
    font-size: 30px;
}
.footer_conditions ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
}
.footer_conditions ul li{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}
.footer_copy p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}
/* footer  part css end  */